<div class="container">
  <h2> Social </h2>
  <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
  <a href="https://linkedin.com/in/shrutivangari" target="_blank">
    <div class="col-md-4 tile linkedin-img"></div>
  </a>
    <a href="https://twitter.com/shruti_sv47" target="_blank">
    <div class="col-md-4 tile twitter-img"></div>
  </a>
    <a href="https://medium.com/@shruti.vangari" target="_blank">
    <div class="col-md-4 tile medium-img"></div>
  </a>
  <h2> Shopping </h2>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
  <h2> Blogs </h2>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
    <a href="https://github.com/shrutivangari" target="_blank">
    <div class="col-md-4 tile github-img"></div>
  </a>
  <h2> Padai </h2>
</div>